/** @format */

.crew {
  width: 1100px;
  height: 900px;
}
.all {
  text-align: center;
}
body {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  background-color: blanchedalmond;
}
.title {
  text-decoration: underline;
  color: rgb(129, 12, 12);
  font-size: 500%;
}
.paragraph {
  font-size: 150%;
}
.h2 {
  color: rgb(75, 71, 71);
  font-size: 300%;
  text-decoration: underline;
}

.name {
  font-size: 150%;
  color: black;
}
